@model IEnumerable<E_Veterinar.Models.Zaloga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdIzdelekNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVeterinarNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIzdelekNavigation.IdIzdelek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVeterinarNavigation.IdVeterinar)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
