@model IEnumerable<E_Veterinar.Models.Zaloga>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled zaloge</h1>
<hr>
<p>
    <a asp-action="Create">Dodaj v zalogo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Količina
            </th>
            <th>
                Izdelek
            </th>
            <th>
                Vnesel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdIzdelekNavigation.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVeterinarNavigation.Ime)
                @Html.DisplayFor(modelItem => item.IdVeterinarNavigation.Priimek)
            </td>
            <td style="text-align:right">
                @Html.ActionLink("Spremeni vnos", "Edit", new { IdIzdelek=item.IdIzdelekNavigation.IdIzdelek, IdVeterinar=item.IdVeterinarNavigation.IdVeterinar }) |
                @Html.ActionLink("Podrobnosti izdelka", "Details", new { IdIzdelek=item.IdIzdelekNavigation.IdIzdelek, IdVeterinar=item.IdVeterinarNavigation.IdVeterinar }) |
                @Html.ActionLink("Izbriši vnos", "Delete", new { IdIzdelek=item.IdIzdelekNavigation.IdIzdelek, IdVeterinar=item.IdVeterinarNavigation.IdVeterinar })
            </td>
        </tr>
}
    </tbody>
</table>
