@model IEnumerable<E_Veterinar.Models.Evidenca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNarociloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNarociloNavigation.IdNarocilo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termin.IdVeterinar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEvidence">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEvidence">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEvidence">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
