@model E_Veterinar.Models.Termin

@{
    ViewData["Title"] = "Delete";
}

<h3>Ali ste prepričani, da želite izbrisati ta termin?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Zaseden:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JeZaseden)
        </dd>
        <dt class = "col-sm-2">
            Potrjen:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JePotrjen)
        </dd>
        <dt class = "col-sm-2">
            Stranka:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStrankaNavigation.FullName)
        </dd>
        <dt class = "col-sm-2">
            Veterinar:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVeterinarNavigation.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVeterinar" />
        <input type="hidden" asp-for="DatumZacetka" value="@this.Model.DatumZacetka.ToString("dd/MM/yyyy HH:mm:ss")" />
        <input type="hidden" asp-for="DatumKonca" value="@this.Model.DatumKonca.ToString("dd/MM/yyyy HH:mm:ss")" />
        <input type="submit" value="Izbriši" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Nazaj</a>
    </form>
</div>
